ingress:
  host: "example.localhost.com"
resources:
  requests:
    cpu: "4"
    memory: 4Gi
    gpu: 1
  limits:
    cpu: "8"
    memory: 4Gi
    gpu: 1
persistentStorage:
  - existingClaim: ""
    existingClaimName: "example-name"
    subPath: "/"
    readOnly: false
appstore_generated_data:
  appstore_meta_data:
    contact_email: "example@sigma2.no"
  dataporten:
    scopes:
      - ""
    id: "0000"
    owner: "0000-1234"
    client_secret: "0000-abcd"
    authorized_groups:
      - ""
  aai:
    client_id: provided-by-toolkit
    client_secret: provided-by-toolkit
    issuer_url: https://apps-auth.sigma2.no/
    scopes:
      - openid
      - profile
      - email
    authorized_principals: []
    owner: provided-by-toolkit
    userinfo_url: provided-by-toolkit
    token_url: provided-by-toolkit
    auth_url: provided-by-toolkit
uid: 999
gid: 999
username: notebook
supplementalGroups:
  - name: ""
    gid: ""
advanced:
  env:
    sparkMasterUrl: "local[*]"
    jupyterLab: true
  dockerImage: sigma2as/deep-learning-tools:20251107-5d272df
  githubToken: ""
authGroupProviders:
  - url: "https://groups-api.dataporten.no/groups/me/groups"
    scope: groups
