ingress:
  host: "local-chart.example.com"
resources:
  requests:
    cpu: "2"
    memory: 2G
  limits:
    cpu: "4"
    memory: 2G
uid: 999
gid: 999
username: rstudio
supplementalGroups:
  - name: ""
    gid: ""
persistentStorage:
  existingClaim: ""
  existingClaimName: "example-name"
  subPath: "/"
  readOnly: false
appstore_generated_data:
  appstore_meta_data:
    contact_email: "example@uninett.no"
  dataporten:
    scopes:
      - ""
    id: "0000"
    owner: "0000-1234"
    client_secret: "0000"
    authorized_groups:
      - ""
advanced:
  debug: false
  dockerImage: quay.io/uninett/rstudio-server:20210324-634e389
  proxyImage: quay.io/uninett/rstudio-proxy:20210211-fcb9f28
authGroupProviders:
  - url: "https://groups-api.dataporten.no/groups/me/groups"
    scope: groups
