advanced:
  workers:
    replicas: 1
    resources:
      requests:
          cpu: "2"
          memory: 2G
      limits:
          cpu: "4"
          memory: 2G

  master:
    resources:
      requests:
          cpu: "2"
          memory: 2G
      limits:
          cpu: "4"
          memory: 2G
  dockerImage: quay.io/uninett/jupyter-spark:20200420-1131dd2

uid: 999
gid: 999
username: notebook
supplementalGroups:
  - name: ""
    gid: ""
ingress:
  host: "host.example.com"

persistentStorage:
  - existingClaim: ""
    existingClaimName: "example-name"
    subPath: "/"
    readOnly: false

appstore_generated_data:
  appstore_meta_data:
    contact_email: "example@uninett.no"
  dataporten:
    scopes:
      - ""
    id: "0000"
    owner: "0000-1234"
    client_secret: "0000"
    authorized_groups:
      - ""
authGroupProviders:
  - url: "https://groups-api.dataporten.no/groups/me/groups"
    scope: groups
